.container
  .row
    .col-ms-6
      = simple_form_for([:admin, @coin_nickname], html: {multipart: true}) do |f|
        = f.error_notification message: t('messages.error_notification')

        .form-inputs
          = render 'admin/shared/form_ancestry', f: f, object: @coin_nickname
          = f.association :coin, collection: Coin.order('name ASC'), include_blank: false
          = f.input :name
          
          = render 'admin/shared/form_rich_text_content', f: f, object: @coin_nickname
          = render 'admin/shared/form_images', f: f, object: @coin_nickname
          = render 'admin/shared/form_actions', f: f, object: @coin_nickname
