.container
  %h1= t CoinNickname.model_name.human
  %table.table.table-striped
    %tbody
      %tr
        %td= "Coin"
        %td= @coin_nickname.coin.code
      %tr
        %td= "Name"
        %td= @coin_nickname.name
  = render 'admin/shared/show_actions', object: @coin_nickname
